<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste arquivo HTML estilizado - Static/css </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' )}}">
</head>
<body>
    <p>Os arquivos estáticos, como CSS ou JavaScript, aprimoram a exibição de uma página web HTML. Um servidor web é configurado para servir tais arquivos a partir da pasta estática no pacote ou da próxima ao módulo. Os arquivos estáticos estão disponíveis no caminho /static da aplicação.</p>

    <h2>Mensagem estilizada com CSS</h2>
</body>
</html>