<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário do Cliente</title>
</head>
<body>
    <h3>Registre o cliente, preencha o formulário abaixo</h3>
    <form action="http://127.0.0.1:5000/sucesso" method="post">

        <p>Nome:
            <input type="text" name = 'nome'>
        </p>
        <p>Email:
            <input type="email" name = 'email'>
        </p>
        <p>Contato:
            <input type="text" name = 'contato'>
        </p>
        <p>Código pin:
            <input type="text" name = 'pin'>
        </p>
        <p>
            <input type="submit" name = 'submit'>
        </p>
    </form>
</body>
</html>